.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    transition: transform .2s, left .2s;

    .title {
        font-size: 28px;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 1rem;
    }

    .menu {
        padding-left: 1rem;

        .subtitle {
            color: var(--menu-color);
            font-size: 17px;
            font-weight: bold;
        }

        .menu-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }
}

.main-container {
    margin-left: 230px;
    padding: 1rem;

    .topbar {
        border-bottom: 2px solid #dfe7ef;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;

        .hamburger {
            display: none;
        }
    }
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: #00000066;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .logo {
        display: flex;
        justify-content: center;
        background-color: #cdcdcd;
        color: #9b9b9b;
        font-weight: bold;
        width: 140px;
        height: 120px;
        align-items: center;
        border-radius: 8px;
    }
}

@media (max-width: 991px) {
    .layout-wrapper {
        .menu-wrapper {
            transform: translate(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            z-index: 999;

        }

        &.visible-mobile {
            .menu-wrapper {
                transform: translate(0);
            }

            .layout-mask {
                display: block;
                animation: fadein .2s;
            }
        }

        .main-container {
            margin-left: 0;
            width: 100%;
            padding: 0;

            .topbar {
                background-color: #ffffff;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;

                .hamburger {
                    display: block;
                    margin-right: 2rem;
                }
            }

            .container {
                padding: 1rem;
                margin-top: 50px;
            }
        }

    }
}