/* You can add global styles to this file, and also import other style files */

@import "assets/styles/variables.scss";

body {
    font-family: sans-serif;
    background-color: var(--body-color);
    margin: 0;
    color: var(--color);
}

.button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;

    .icon {
        fill: var(--primary-color);
    }

    &:hover {
        box-shadow: 3px 3px 8px -5px rgba(0, 0, 0, 1);
    }
}

.icon {
    width: .75rem;
}

.error {
    color: red;
}

.input {
    padding: .75rem;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

    &:hover,
    &:focus,
    &:focus-visible {
        border-color: var(--primary-color);
        outline: -webkit-focus-ring-color auto 1px var(--primary-color);
    }
}

.input-wrapper {
    &.input-group {
        .icon {
            position: absolute;
            padding: .75rem;
            min-width: 20px;
            fill: #00000082;
        }

        .input {
            padding-left: calc(.75rem + 30px);
        }
    }
}