:root {
    --primary-color: #166c00;
    --secondary-color: #93d683;
    --title-color: #5cc542;
    --menu-color: #ffffff;
    --body-color: #fafafa;
    --form-background: #edfde9;
    --color: #000000;
    --row-color: #ffffff;
}

.a11y {
    --primary-color: #000080;
    --secondary-color: #81f8da;
    --title-color: #6ee6b6;
    --menu-color: #81f8da;
    --body-color: #64f366;
    --form-background: #58c059;
    --color: #000080;
    --row-color: #e6d0bc;

    // --primary-color: #000080;
    // --secondary-color: #81f8da;
    // --title-color: #6ee6b6;
    // --menu-color: #06e551;
    // --body-color: #e1fa6e;
    // --form-background: #3ffd1b;
    // --color: #0011ff;
    // --row-color: #e6d0bc;
}